.userInfoPage {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.userTitle {
  font-size: 2.5rem;
  font-weight: bold;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
}

.ability {
  width: 50%;
  height: 100%;
  opacity: 0.8;
}
.rankInfo {
  display: flex;
  width: 100%;
  height: 50%;
  border-radius: 12px;
  margin: 0.3rem;
}
.rankRank {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 12px;
}
.rankIcon {
  width: 15vw;
  height: 15vw;
}
.rankText {
  font-size: 2rem;
  font-family: "宋体", sans-serif;
  vertical-align:middle;
  font-weight: bold;
}
.rankGrade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 12px;
}
.abilityChart {
  width: 100%;
  height: 55%;
  border-radius: 12px;
  margin: 0.3rem;
}
.userBaseInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 12px;
  margin: 1.4rem 0.3rem 0.3rem;
}
.infoText {
  display: flex;
  width: 80%;
  height: 10%;
  margin-top: 3%;
  font-weight: bold;
  color: #647bc2;
  opacity: 0.8;
  font-size: 1.7rem;
}
.infoTextIn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: 10%;
  margin-top: 3%;
  font-weight: bold;
  color: #647bc2;
  font-size: 1.7rem;
  opacity: 0.8;
  text-align: left;
}
.chartItem {
  width: 100%;
  height: 100% !important;
}
p {
  text-indent:2em;
}
