.progress{
  display: flex;
  min-height: 15rem;
  background-color: darkkhaki;
}
.twoProgress{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.player{
  display: flex;
  width: 50%;
  height: 100%;
  background-color: #bb791d;
}
.avatar{
  width: 60%;
  height: 60%;
  background-color: darkgray;
}
.name{
  min-width: 60%;
  min-height: 2rem;
  background-color: #e81414;
}
.avatarName{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.count{
  display: flex;
  align-items: center;
  font-size: 3rem;
}