@import '~antd/dist/antd.css';
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./static/bggg.png");
  background-size: 100% 100%;
  background-position: center center;
  overflow: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}
